
.venv/
env/
.mypy_cache/
.nox/
.coverage
coverage.xml
.eggs/
*.egg
Pipfile.lock
.DS_Store
__pycache__/

node_modules/
**/__pycache__/
        main
tests/physics_cpp.so
# prebuilt diff_voxelize libraries
src/ai/diff_voxelize.so
src/ai/diff_voxelize.dylib
src/ai/diff_voxelize.dll
